.nav {
    height: 50px;
    background-color: cadetblue;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
}

.navMenu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    margin-right: 25px;
    text-decoration: none;
    color: white;
}

.navMenu:visited {
    color: aqua;
}

.navMenu:hover {
    color: red;
}

.number {
    margin-left: 50px;
    font-weight: 600
}

.tagline {
    font-weight: 700;
    text-transform: uppercase;
}

.phoneImg {
    width: 20px;
    height: 20px;
}
