.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 600px;
    width: 100%;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: skyblue;
    -webkit-text-stroke: 1px blue;
}