* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-wrapper {
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
    letter-spacing: -0.02em;
}

.logo {
    width: 100px;
    height: 100px;
    padding: 10px;
    margin:  50px ;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 600px;
    width: 100%;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    background-color: aqua;
    height: 80px;
}

.header-img {
    display: flex;
}

.nav-wrap {
    height: 60px;
    background-color: cadetblue;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
}

.catalog, .services, .calculator, .photo, .number {
    width: 150px;
    height: 40px;
    border: 2px solid transparent;
    background-color: transparent;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    margin-right: 10px;
    outline: none;
}

.number {
    margin-left: 50px;
}

.online-calculate {
    display: flex;
    padding: 50px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;




}
